<div class="container">
    <!-- 卡片排版 -->
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6 item">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                    alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>Card Title</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6 item">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                    alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>Card Title</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6 item">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                    alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>Card Title</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6 item">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                    alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>Card Title</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- panel list + animation -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-header>Featured</mdb-card-header>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </mdb-card>
        </div>
    </div>
    <!-- basic buttons -->
    <div class="row">
        <mdb-card class="col-12">
            <mdb-card-body>
                <button type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>
                <button type="button" mdbBtn color="secondary" mdbWavesEffect>Secondary</button>
                <button type="button" mdbBtn color="success" mdbWavesEffect>Success</button>
                <button type="button" mdbBtn color="danger" mdbWavesEffect>Danger</button>
                <button type="button" mdbBtn color="warning" mdbWavesEffect>Warning</button>
                <button type="button" mdbBtn color="info" mdbWavesEffect>Info</button>
                <button type="button" mdbBtn color="light" mdbWavesEffect>Light</button>
                <button type="button" mdbBtn color="dark" mdbWavesEffect>Dark</button>
                <button type="button" mdbBtn color="link">Link</button>
                <button mdbBtn type="button" color="warning" mdbWavesEffect>Warning</button>
                <button mdbBtn type="button" color="danger" mdbWavesEffect>Danger</button>
                <button mdbBtn type="button" color="elegant" mdbWavesEffect>Elegant</button>
                <button mdbBtn type="button" color="unique" mdbWavesEffect>Unique</button>
                <button mdbBtn type="button" color="pink" mdbWavesEffect>Pink</button>
                <button mdbBtn type="button" color="purple" mdbWavesEffect>Purple</button>
                <button mdbBtn type="button" color="deep-purple" mdbWavesEffect>Deep-Purple</button>
                <button mdbBtn type="button" color="indigo" mdbWavesEffect>Indigo</button>
                <button mdbBtn type="button" color="light-blue" mdbWavesEffect>Light-blue</button>
                <button mdbBtn type="button" color="cyan" mdbWavesEffect>Cyan</button>
                <button mdbBtn type="button" color="dark-green" mdbWavesEffect>Dark-Green</button>
                <button mdbBtn type="button" color="light-green" mdbWavesEffect>Light-green</button>
                <button mdbBtn type="button" color="yellow" mdbWavesEffect>Yellow</button>
                <button mdbBtn type="button" color="amber" mdbWavesEffect>Amber</button>
                <button mdbBtn type="button" color="deep-orange" mdbWavesEffect>Deep-Orange</button>
                <button mdbBtn type="button" color="brown" mdbWavesEffect>Brown</button>
                <button mdbBtn type="button" color="blue-grey" mdbWavesEffect>Blue-Grey</button>
                <button mdbBtn type="button" color="mdb-color" mdbWavesEffect>MDB</button>
            </mdb-card-body>
        </mdb-card>
    </div>
    <!-- gradient buttons -->
    <div class="row">
        <mdb-card class="col-12">
            <mdb-card-body>
                <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Peach</button>
                <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Purple</button>
                <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Blue</button>
                <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Aqua</button>

                <button mdbBtn type="button" gradient="aqua" rounded="true" style="border-radius: 50px;"
                    mdbWavesEffect>Aqua</button>
                <div
                    style="width:50px;height: 30px;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                </div>
                <div class="player">
                    <div class="paper">
                        <i class="fas fa-forward"></i>
                    </div>
                </div>
            </mdb-card-body>
        </mdb-card>
    </div>
    <!-- outline button -->
    <div class="row">
        <mdb-card class="col-12">
            <mdb-card-body>
                <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Primary</button>
                <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Default</button>
                <button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Secondary</button>
                <button mdbBtn type="button" color="success" outline="true" mdbWavesEffect>Success</button>
                <button mdbBtn type="button" color="info" outline="true" mdbWavesEffect>Info</button>
                <button mdbBtn type="button" color="warning" outline="true" mdbWavesEffect>Warning</button>
                <button mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Danger</button>
            </mdb-card-body>
        </mdb-card>
    </div>
    <!-- 畫面排版+背景圖 -->
    <div class="row">
        <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg')">
            <div class="text-white text-center py-5 px-4 my-5">
                <div>
                    <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with
                            MDBootstrap</strong></h2>
                    <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                        laboriosam,
                        voluptatem,
                        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                        Odit sed qui,
                        dolorum!
                    </p>
                    <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
                    </a>
                </div>
            </div>
        </mdb-card>
    </div>
    <!-- 等待 -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- pagenition -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <nav aria-label="Page navigation example pg-blue">
                        <ul class="pagination pagination-circle pg-blue">
                            <li class="page-item disabled"><a class="page-link" mdbWavesEffect>First</a></li>
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous" mdbWavesEffect>
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
                            <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
                            <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
                            <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
                            <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" mdbWavesEffect>
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" mdbWavesEffect>Last</a></li>
                        </ul>
                    </nav>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- progress bar -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="progress" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- timeline -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <!-- Vertical Steppers -->
                    <div class="row mt-1">
                        <div class="col-md-12">

                            <!-- Stepers Wrapper -->
                            <ul class="stepper stepper-vertical">

                                <!-- First Step -->
                                <li *ngFor="let step of steppers;let i = index;" #stepper class="completed">
                                    <a (click)="select($event,i)">
                                        <span class="circle">{{step}}</span>
                                        <span class="label">{{step}} step</span>
                                    </a>
                                </li>

                            </ul>
                            <!-- /.Stepers Wrapper -->

                        </div>
                    </div>

                    <!-- Steppers Navigation -->
                    <div class="row mt-1">
                        <div class="col-md-12 text-right">
                            <button mdbBtn flat="true" size="sm">Cancel</button>
                            <button mdbBtn color="primary" size="sm">Next</button>
                        </div>
                    </div>
                    <!-- /.Vertical Steppers -->
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- badge 沒成功 -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <mdb-badge color="indigo">
                        <mdb-icon fab icon="android" size="2x"></mdb-icon>
                    </mdb-badge>
                    <mdb-badge color="cyan">
                        <mdb-icon fas icon="cog" size="2x"></mdb-icon>
                    </mdb-badge>
                    <mdb-badge color="orange">
                        <mdb-icon fab icon="btc" size="2x"></mdb-icon>
                    </mdb-badge>
                    <mdb-badge pill="true" color="teal">
                        <mdb-icon fas icon="heart" size="2x"></mdb-icon>
                    </mdb-badge>
                    <mdb-badge pill="true" color="green">
                        <mdb-icon fab icon="apple" size="2x"></mdb-icon>
                    </mdb-badge>
                    <mdb-badge pill="true" color="purple">
                        <mdb-icon fas icon="users" size="2x"></mdb-icon>
                    </mdb-badge>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- 輪播 -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item>
                            <div class="view w-100">
                                <img class="d-block w-100"
                                    src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">Light mask</h3>
                                <p>First text</p>
                            </div>
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <div class="view w-100">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                                    alt="Second slide">
                                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">Strong mask</h3>
                                <p>Secondary text</p>
                            </div>
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <div class="view w-100">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                                    alt="Third slide">
                                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">Slight mask</h3>
                                <p>Third text</p>
                            </div>
                        </mdb-carousel-item>
                    </mdb-carousel>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- collapse 伸縮 -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <button mdbBtn color="primary" class="waves-light" type="button" (click)="test.toggle()"
                        mdbWavesEffect>
                        Toggle collapse
                    </button>

                    <div class="" mdbCollapse #test="bs-collapse">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim
                            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- google map 還沒修好 -->
    <!-- <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
                        <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
                      </agm-map>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div> -->
    <!-- 小彈跳視窗 -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <ng-template #popTemplate>Here we go: <div>hello</div>
                    </ng-template>
                    <button id="popTemplate" type="button" mdbBtn color="success" mdbPopoverHeader="Dynamic html inside"
                        [mdbPopover]="popTemplate" mdbWavesEffect>
                        Show me popover with html
                    </button>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- tooltip -->
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <button type="button" mdbBtn color="primary" class="bwaves-light" mdbTooltip="Tooltip on top"
                        placement="top" mdbWavesEffect>
                        Tooltip on top
                    </button>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>

                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>