<div class="container">
    <div class="row">
        <div class="col-6">
            <input type="text" [(ngModel)]="query" (keyup.enter)="search()">
            <!-- <button (click)="search()">query</button> -->
            <button mdbBtn type="button" color="primary" outline="true" (click)="search()" mdbWavesEffect>query</button>
        </div>
    </div>
    <div class="row justify-content-md-center" *ngIf="load">
        <div class="col-12" style="text-align: center;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row" [style.display]="load?'none':''">
        <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let video of videos;let i = index;">
            <mdb-card>
                <mdb-card-body>
                    <div [style.display]="!video.hover?'':'none'" (mouseenter)="hover($event,video)" class="view w-100">
                        <img [routerLink]="'/video/player'" [queryParams]="{'videoId':video.videoId}"
                            class="d-block w-100" [src]="'http://i.ytimg.com/vi/' + video.videoId + '/0.jpg'"
                            alt="First slide">
                    </div>
                    <mdb-carousel  [style.display]="video.hover?'':'none'"
                         class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item (mouseleave)="leave($event,video)" >
                            <div class="view w-100" [routerLink]="'/video/player'" [queryParams]="{'videoId':video.videoId}">
                                <img class="d-block w-100" 
                                    [src]="'http://i.ytimg.com/vi/' + video.videoId + '/0.jpg'" alt="First slide">
                                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3 class="h3-responsive">Light mask</h3>
                                <p>First text</p>
                            </div> -->
                        </mdb-carousel-item>
                        <mdb-carousel-item (mouseleave)="leave($event,video)" >
                            <div class="view w-100" [routerLink]="'/video/player'" [queryParams]="{'videoId':video.videoId}">
                                <img class="d-block w-100"
                                    [src]="'http://i.ytimg.com/vi/' + video.videoId + '/1.jpg'" alt="First slide">
                                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3 class="h3-responsive">Strong mask</h3>
                                <p>Secondary text</p>
                            </div> -->
                        </mdb-carousel-item>
                        <mdb-carousel-item (mouseleave)="leave($event,video)" >
                            <div class="view w-100" [routerLink]="'/video/player'" [queryParams]="{'videoId':video.videoId}">
                                <img class="d-block w-100"
                                    [src]="'http://i.ytimg.com/vi/' + video.videoId + '/2.jpg'" alt="First slide">
                                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3 class="h3-responsive">Slight mask</h3>
                                <p>Third text</p>
                            </div> -->
                        </mdb-carousel-item>
                    </mdb-carousel>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>